html {
  height: 100%;
}

body {
min-height: 100%;
  font: 2rem/1.5 "PT Sans", sans-serif;
  // background-image: linear-gradient(to right top, #050537, #3e2b64, #795094, #ba79c3, #ffa4f2);
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  color: $color-black;
}

hr {
  margin: 2.4rem 0;
  height: 2px;
  border: 0;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1),
              inset 0px -1px 0px rgba(255, 255, 255, 0.1)
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.greeting {
  width: 100%;
  max-width: 54rem;
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  padding: 4rem 4rem 10rem;
  border-radius: 2px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.greeting h1,
.greeting h2 {
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-weight: 400;
}

.greeting h1 {
  margin-bottom: 0.2rem;
  font-size: 2.8rem;
}

.greeting h2 {
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

.greeting p {
  font-style: italic;
  color: $color-secondary-light;
}

.imageList {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 8px;
  margin-bottom: 8px;
}

.imageList img {
  max-width: 100%;
  height: auto;
}

a {
  color: $color-white;
}

a:hover {
  color: $color-secondary-light;
}

.capture {
  visibility: hidden;
}

.alert {
    -webkit-animation: fadeOut 2s forwards;
    animation: fadeOut 2s forwards;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    background: white;
    color: pink;
    padding: 10px;
    text-align: center;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0; padding: 0px; height: 0}
}
